{% include 'recipes/partial/head.html' %}

<body>
    {% include 'recipes/partial/header.html' %}

    {% include 'recipes/partial/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="comand comand-list-item">
                <div class="comand-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
                </div>
                <div class="comand-title-container">
                    <h2 class="comand-title"> Linguagem: <a href="">(nome da linguagem de programação)</a></h2>
                    <h2 class="comand-title"> Comando: <a href="" >(nome do comando)</a></h2>
                </div>
                <div class="comand-definition-container">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est aliquam deleniti ex, iure incidunt rem blanditiis laudantium quod nobis soluta qui vero corporis amet excepturi placeat consequuntur quia tenetur animi.</p>
                </div>
                <div class="comand-author">
                    <a href="">
                        <i class="fas fa-user"></i>  Nome do Autor
                    </a>
                </div>
                <div class="comand-date">
                    <i class="fas fa-calendar-alt"> </i>  01/01/2001
                </div>

                



            </div>
        </div>

    </main>

</body>
</html>