{% include 'commands/partial/head.html' %}

<body>
    {% include 'commands/partial/header.html' %}

    {% include 'commands/partial/search.html' %}

    

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            
            {% include 'commands/partial/command.html' %}
            {% include 'commands/partial/command.html' %}
            {% include 'commands/partial/command.html' %}

        </div>
        
    </main>
    {% include 'commands/partial/footer.html' %}

</body>
</html>